.bus-times{
    text-align: center;
    // border: 2px solid white;
    &__header{
        text-decoration: underline;
        box-shadow: 1px 1px 7px rgb(0,0,0,0.3);
    }

    &__label{
    }

    &__input{

    }
    &__list{
    }
}

ul {
    list-style: none;

}

button{
    padding: 10px;
    margin: 10px;
    border-radius: 13%;
}